.my-order-page-wrapper{
    display: block;
}

.my-order-menu{
    display: none;
}

.my-order-basket{
    display: block;
    width: 80%;
    position: static;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 10px 0px;
    height: 600px;
    background-color: #fff;
}

@media(max-width: 768px){
    .my-order-basket{
        display: block;
        width: 80%;
        position: static;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0px 10px 0px;
        height: 600px;
        background-color: #fff;
        color: #000;
        border: none;
    }

    .my-order-basket .item-container, .my-order-basket .header-container{
        display: block;
    }
}

@media(max-width: 414px) {
    .my-order-basket{
        width: 90%;
    }
    .reset-quantity{
        height: 30px;
    }

    .my-order-basket .item-container .my-order-item .order-item-wrapper{
        padding: 10px 4px;
    }
}