*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Sahitya";
    font-weight: 400;
    src: url("./assets/fonts/sahitya-regular-webfont.woff2") format("woff2"),
         url("./assets/fonts/sahitya-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Sahitya";
    font-weight: 700;
    src: url("./assets/fonts/sahitya-bold-webfont.woff2") format("woff2"),
         url("./assets/fonts/sahitya-bold-webfont.woff") format("woff");
}

:root{
    --background-color: #1f1f1f;
    --main-accent-color: #C81818;
    --secondary-accent-color: #8D3333;
}

/* animations */

@keyframes fadeInUp{
    0%{
        transform: translateY(50px);
        opacity: 0;
        filter: blur(1);
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
        filter: blur(0);
    }
}

.fadeInUp{
    opacity: 0;
    animation: fadeInUp 1s 600ms ease-out forwards; /* change delay for different elements */
}

/* image carousel animations */

@keyframes slideoutRight{
    0%{
        display: flex;
        left: 50%;
        transform: translateX(-50%);
    }
    100%{
        left: 105vw;
        display: none !important;
        overflow-x: hidden;
    }
}

@keyframes slideoutLeft{
    0%{
        display: flex;
        left: 50%;
        transform: translateX(-50%);
    }
    100%{
        left: -105vw;
        display: none !important;
        overflow-x: hidden;
    }
}

@keyframes slideinLeft {
    0%{
        display: flex;
        left: -105vw;
    }
    100%{
        left: 50%;
        transform: translateX(-50%);
    }
}

@keyframes slideinRight {
    0%{
        display: flex;
        left: 150vw;
    }
    100%{
        left: 50%;
        transform: translateX(-50%);
    }
}

/* fade in animations */


@keyframes fadeInLeft {
    0%{
        opacity: 0;
        filter: blur(1);
        transform: translateX(-75px);
    }
    100%{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0px);
    }
}
.fadeInLeft{
    animation: fadeInLeft 950ms ease-out 500ms normal forwards;
}

@keyframes fadeInDown {
    0%{
        opacity: 0;
        filter: blur(1);
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0px);
    }
}
.fadeInDown{
    animation: fadeInDown 500ms ease-out 500ms normal forwards;
}

@media (prefers-reduced-motion), (max-width: 601px){
    .fadeInUp,.fadeUp,.fadeInDown,.fadeDown, .fadeLeft, .fadeInLeft{
        animation: none !important;
        opacity: 1 !important;
    }
}


body{
    background-color: #1f1f1f;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 2560px;
    overflow-x: hidden !important;
    padding-bottom: 25px;
}

.content-wrapper{
    background-color: #1f1f1f;
    margin-top: 75px;
}

button:focus{
    outline: 1.2px solid black !important;
}

.seperate-sections{
    display: block;
    width: 100%;
    height: 4px;
    background: var(--main-accent-color);
    margin-top: 200px;
}

.seperate-sections.no-margin{
    margin: 0;
}

/* NavBar */

.nav{
    position: relative;
}

.hamburger-button{
    display: none;

    position: fixed;
    top: calc(75px /2 - (34.5px / 2));
    transform: translateX(80vw);

    z-index: 35;
    width: 35px;
    border: none;
    background-color: transparent;
    border-radius: 2.5px;
    cursor: pointer;
    outline: none !important;
}

.hamburger{
    width: 100%;
    height: 4px;
    background-color: var(--background-color);
    margin-top: 7.5px;
    border-radius: 2.5px;
    transition: 0.2s ease-in-out;
}

.hamburger-button:hover{
    .hamburger:nth-child(2){
        transform: translateX(10px);
        background-color: #fff;
    }
}

.hamburger.open{
    background-color: #fff;
}

.hamburger.open:nth-child(1){
    transform: translate(-6px, 6px);
    rotate: -45deg;
}

.hamburger.open:nth-child(2){
    opacity: 0;
}

.hamburger.open:nth-child(3){
    transform: translate(-10px, -10px);
    rotate: 45deg;
}

.mobile-nav-bar{
    position: relative;
    display: none;
    
    background-color: rgba(31,31,31,0.9);
    padding: 12px 24px;
    height: calc(220vh - 75px);
    transform: translateX(100vw);
    width: 85vw;
    position: fixed;
    z-index: 30; 

    overflow-x: hidden !important;
    transition: 0.5s ease-in-out;   
}

.mobile-nav-bar.mobile-nav-show{
    display: block;
    transform: translateX(15vw);
    transition: 0.5s ease-in-out;
}

.hide-nav{
    display: none !important;
}

.nav-bar{
    z-index: 30;
    background-color: var(--main-accent-color);
    box-shadow: 0px 4px 4px 2px rgba(0,0,0, 0.3);
    height: 75px;
    position: fixed;
    top: 0;
    width: 100vw;
    max-width: 2560px;
}

.nav-list-links{
    display: flex;
    gap: 40px;
    height: 75px;
    justify-content: center;
    align-items: center;

}

.mobile-nav-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow-x: hidden;
}

.seperate-links{
    width: 80%;
    height: 2px;
    background-color: var(--secondary-accent-color);
} 

.nav-list a, .mobile-nav-list a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    list-style: none;
    color: #fff;
}

.logo{
    position: absolute !important;
    width: 50px;
    height: 50px;
    top: 12.5px;
    left: 60px;
}

.nav-list a li{
    position: relative;
}

.nav-list a li.active::before, .nav-list a li:hover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -4px;
    background-color: #fff;
}

/* Home Page */

/* Hero section */

.hero-section{
    background-color: #ededed;
    position: relative;
    margin-top: 75px;
    padding-bottom: 100px;
}

.hero-info{
    display: flex;
    justify-content: space-between;
    padding: 24px 0px 0px 120px;
}

.call-to-action{
    z-index: 5;
    width: 250px;
    /* max-width: 30%; */
}

.call-to-action .action-description{
    margin-top: 8px;
}

.title-container{
    position: relative;
    width: max-content;
}

.call-to-action .red-rectangle{
    position: absolute;
    width: clamp(120px, 15vw, 160px);
    height: clamp(40px, 4vw, 60px);
    border-radius: 2px;
    background-color: var(--secondary-accent-color);
    z-index: -1;
    top: 0%;
    right: -10%;
}

.call-to-action h2{
    font-size: clamp(3rem, 10vw, 4.25rem);
    font-family: "Sahitya", sans-serif;
    width: max-content;
    font-weight: 700;
}

.call-to-action p{
    font-size: 1.2rem;
    font-weight: 400;
    animation-delay: 1000ms;
}

.call-to-action .menu-button{
    margin-top: 16px;
    padding: 16px 48px;
    background-color: var(--main-accent-color);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    animation-delay: 1400ms;
}

.call-to-action .menu-button:focus{
    outline: 1px solid black;
}

.japanese-writing{
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-75%);
    opacity: 0.9;    
}

.japanese-writing img{
    height: 200px;
}


.slogan{
    z-index: 5;
    margin-right: clamp(15px, 1vw, 300px);
    margin-top: 30px;
}

.slogan h3{
    display: inline-block;
    font-size: clamp(2rem, 3vw , 2.5rem);
    font-weight: 600;
    animation-delay: 400ms;
}

.slogan p{
    font-size: clamp(1rem, 2.5vw , 1.75rem);
    margin: 16px 0px 0px 0px;
    margin-left: clamp(30px, 5vw, 120px);
    font-weight: 300;
    animation-delay: 600ms;
}

.large-circle{
    position: absolute;
    background-color: #a4a4a4;
    border-radius: 50%;
    top: -50px;
    right: 125px;
    width: clamp(150px, 25vw, 700px);
    height: clamp(150px, 25vw, 700px);
}

.small-circle{
    position: absolute;
    background-color: var(--secondary-accent-color);
    border-radius: 50%;
    top: -50px;
    right: 125px;
    width: clamp(50px, 7.5vw, 200px);
    height: clamp(50px, 7.5vw, 200px);
}

.carousel-container{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.carousel-button{
    position: absolute;
    z-index: 20;
    top: calc(50% - 24px);
    padding: 16px 32px 16px 16px;
    border: none;
    background-color: rgba(255,255,255,0.75);
    color: rgba(0,0,0,0.8);
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;

    overflow-x: hidden;
}

.carousel-button:hover{
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
}

.carousel-button.next{
    right: -32px;
    border-radius: 50%;
}

.carousel-button.prev{
    left: -32px;
    border-radius: 50%;
    rotate: 180deg;
}

.conveyor{
    position: relative;
    margin-top: 48px;
    width: 100%;
    height: 230px;
    z-index: 10 !important;
    box-shadow: 0px 4px 2px 1px rgba(0,0,0, 0.4);
}

.slide{
    display: flex;
    gap: clamp(20px, 8vw, 200px);
    position: absolute;
    z-index: 15;
    left: -100vw;
    bottom: 16px;
    animation-duration: 1000ms;
    /* animation-delay: -500ms; */
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.slide .dish{
    position: relative;
    z-index: 10;
    background: #b4b4b4;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.5);
}

.slide .dish img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 5px;
    border-radius: 50%;
}

.slide .dish .dish-name{
    position: absolute;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 120%;
    transform: translateX(-10%);
    /* transform: translate(-20px); */
    text-align: center;
    top: -50px;
}

.slide[data-active]{
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 1200ms;
    /* animation-delay: -800ms; */
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.carousel-item-number{
    display: flex;
    gap: 10px;
    position: absolute;
    left: calc(50% - 40px);
}

.carousel-index{
    width: 10px;
    height: 10px;
    margin-top: 10px;
    border-radius: 50%;
    border: 1px solid var(--main-accent-color);
    background-color: transparent;
    transition: 0.5s ease-in-out;
    /* cursor: pointer; */
}

.carousel-index:nth-child(1){
    background-color: var(--main-accent-color);
}

.carousel-index{
    cursor: pointer;
}

/* Main Content Section */

.main{
    color: #fff;
}

.animate-on-scroll{
    opacity: 0;
}

/* My Order Section */

.my-order{
    width: 80%;
    margin: auto;
    z-index: 0;
    margin-top: 25px;
    position: relative;
}

.my-order-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    justify-content: center;
}


/* my order animationss staggered */

/* info stagger */

.staggered-my-order-1{
    animation-delay: calc(500ms + 125ms);
}

.staggered-my-order-2{
    position: relative;
    animation-delay: calc(500ms);
}

/* button stagger */

.staggered:nth-child(1){
    animation-delay: calc(500ms + 150ms);
}

.staggered:nth-child(2){
    animation-delay: calc(500ms + 300ms);
}

.staggered:nth-child(3){
    animation-delay: calc(500ms + 450ms);
}

.staggered:nth-child(4){
    animation-delay: calc(500ms + 600ms);
}

.header, .center-header{
    font-family: Sahitya;
    font-weight: 700;
    font-size: 3rem;
    display: inline-block;
    position: relative;
}

.header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 5px;
    left: 25%;
    background-color: var(--secondary-accent-color);
}

.center-header::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 4px;
    bottom: 5px;
    left: -10%;
    background-color: var(--secondary-accent-color);
}

.my-order-circle{
    position: absolute;
    z-index: -1;
    right: 0;
    top: -10px;
    width: clamp(50px, 20vw, 300px);
    height: clamp(50px, 20vw, 300px);
    border-radius: 50%;
    background-color: #333;
}

.dinner-japanese{
    position: absolute;
    z-index: -1;
    height: 200px;
    top: 0;
    right: 7.5%;
}

.my-order-info p{
    margin-top: 24px;
    font-size: 1.2rem;
    width: clamp(280px, 35vw, 500px );
}

.my-order-button{
    margin-top: 24px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-accent-color);
    color: #fff;
    text-transform: uppercase;
    padding: 16px 32px;
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.my-order-info, .my-order-dinner{
    margin-left: auto;
    margin-right: auto;
}

.my-order-dinner .course, .my-order-dinner .save-my-order{
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.25) ;
    
    position: relative;
}

.my-order-dinner .course{
    width: 50%;
    min-width: 250px;
    padding: 16px 36px; 
    background-color: var(--secondary-accent-color);
    font-weight: 700;
    text-align: left;
}

.my-order-dinner .course::after{
    content: ">";
    position: absolute;
    right: 20px;
    top: calc(50% - (2rem / 2));
    font-size: 2rem;
}

.save-my-order{
    background-color: var(--main-accent-color);
    padding: 10px 15px;
    width: 25%;
    margin-left: auto;
    font-weight: 500;
}

/* deliver section */

.deliver-section{
    margin-top: 75px;
}

.deliver{
    width: 80%;
    margin: auto;
}

.deliver-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    overflow-x: hidden;
}

.delivery-info-wrapper, .delivery-description-wrapper{
    position: relative;
}

.delivery-info-wrapper{
    margin-top: 50px;
    margin-bottom: 50px;
}

.delivery-info-wrapper img, .delivery-description-wrapper img{
    margin-left: 50%;
    transform: translateX(-50%);
}

.delivery-info, .delivery-description{
    position: absolute;
    top: 0px;
    text-align: center;
    left: 50%;
    transform: translateX(-45%);
    margin-top: 16px;
}

.delivery-info p, .delivery-description p{
    margin-top: 48px;
    font-size: 1.25rem;
    font-weight: 300;
}

.delivery-info p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.delivery-description{
    width: max-content;
    text-align: left;
    right: 0;
    transform: translateX(-15%);
    overflow-x: hidden;
}

.delivery-description p{
    text-align: left;
    width: 30%;
}

/* delivery animations */

.staggered-delivery:nth-child(1){
    animation-duration: 1s;
}
.staggered-delivery:nth-child(2){
    animation-duration: 1s;
    animation-delay: calc(750ms + 100ms);
}

.staggered-delivery-description:nth-child(1){
    animation-duration: 650ms;
    animation-delay: 350ms;
}

.staggered-delivery-description:nth-child(2){
    animation-delay: 650ms;
}

/* Review Section */

.review-section{
    width: 90%;
    margin: auto;
    margin-top: 75px;
}

.header-container{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.review-container{
    display: flex;
    position: relative;
    gap: 5%;
    margin-top: 96px;
}

.review-japanese{
    position: absolute;
    top: -50%;
    width: 100px;
    /* left: -20px; */
}

.review{
    padding: 12px 24px;
    background-color: #2f2f2f;
    border-radius: 5px;
    text-align: center;

    flex-basis: 30%;
    height: fit-content;
    min-height: 300px;
    max-height: 300px;

    box-shadow: 2px 4px 2px 2px rgba(0,0,0,0.3);
    position: relative;;
}

.front-layer{
    z-index: 10;
}

.review-profile{
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
    top: -50px;
    left: calc(50% - 50px);
}

.review-detail{
    position: relative;
}

.review h3{
    margin-top: 50px;
    text-align: center;
    font-size: clamp(0.8rem, 2vw, 1.6rem);
}

.review h3::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background-color: #222;
}

.review-detail img{
    position: absolute;
    top: calc(105%);
    right: calc(50% - 30px);
}

.review-description{
    margin-top: 24px;
    font-size: clamp(13px, 1.25vw, 20px);
}

/* contact section */

.contact-section{
    width: 80%;
    margin: auto;
    position: relative;
    margin-top: 75px;
}

.contact-japanese{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    height: 200px;
    opacity: 0.5;
}

.contact-section p{
    text-align: center;
    margin-top: 48px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.button-container{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.contact-section button{
    margin-top: 36px;
    padding: 8px 24px;
    font-size: 1.05rem;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--secondary-accent-color);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;

    box-shadow: 0px 4px 2px 1px rgba(0,0,0, 0.3);
}

/* contact-animations */

.contact-section h2, .contact-section p, .contact-section button{
    animation-delay: 500ms;
    animation-duration: 1000ms;
}

.staggered-contact:nth-child(3){
    animation-delay: calc(500ms + 250ms);
}

.staggered-contact:nth-child(1){
    animation-delay: calc(500ms + 500ms);
}

/* footer-section */

.footer-section{
    width: 80%;
    margin: auto;
    margin-top: 24px;
    color: #fff;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
}

.footer-links h4{
    margin-bottom: 24px;
}

.footer-links a{
    display: block;
    text-decoration: none;
    color: #fff;
}

.footer-subscribe{
    flex-basis: 40%;
}

.subscribe-input{
    display: block;
    padding: 12px 36px;
    font-size: 16px;
    border: none;
    border-radius: 2.5px;
    width: 100%;
    margin-bottom: 4px;
    cursor: pointer;
}

.subscribe-input:focus{
    outline: 2px solid black;
}

.subscribe-input.email{
    padding: 12px 36px 12px 0px;
    text-indent: 15px;
    color: #000;
    cursor: text;
}

.subscribe-input.subscribe{
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.05rem;
    background-color: var(--secondary-accent-color);
}

.subscribe-message{
    color: #61b762;
    margin-top: 8px;
}

.subscribe-message.white-text{
    color: #fff;
}

.seperate-footer{
    margin-top: 48px;
    width: 100%;
    height: 4px;
    background-color: #2f2f2f;
}

.footer-trademark{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.footer-trademark img{
    width: 100px;
}

.footer-trademark p{
    font-weight: 100;
}

/* menu page */

.menu-section{
    width: 90%;
    margin: auto;
    margin-top: 75px;
    background-color: #1f1f1f;
    /* background-color: #fff; */
    color: #fff;
    /* color: #000; */
    border-left: 3px solid var(--secondary-accent-color);
    border-right: 3px solid var(--secondary-accent-color);
    /* padding-top: 15px; */
    box-shadow: 0 -15px 15px 15px rgba(0,0,0, 0.7);
}

.menu-section .header{
    margin-left: 16px;
}

#filter-menu{
    display: inline-block;
    position: fixed;
    box-sizing: border-box;
    width: calc( 50% - 5px);
    max-width: calc(2560px - 23.3vw);
    margin-left: 20%;
    z-index: 25;
    text-indent: 20px;
    border: 2px solid var(--secondary-accent-color);
    border-top: none;
    padding: 15px 0px 15px 0px;
    border-radius: 0px 0px 5px 5px;
    text-align: left;
    color: #bbb;
    font-size: 18px;
    background-color: #111;
    box-shadow: 0px 4px 4px 1px rgba(0,0,0, 0.8);
    cursor: pointer;

    appearance: menulist;
    -webkit-appearance: listbox;
    -moz-appearance: listbox;
}

#filter-menu option{
    cursor: pointer
}

#filter-menu:focus{
    outline: 2px solid var(--secondary-accent-color);
}

.items-container{
    width: 100%;
    margin: auto;
    /* margin-top: 50px; */
    font-size: 1.2rem;
    /* display: flex; */
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: left;
}

.item{
    padding: 32px 0px 32px 0px;
    flex-basis: 45%;
    flex-grow: 1;
    /* max-width: 50%; */
}

.item-wrapper{
    margin: 0px 16px 0px 16px;
}

.item:nth-child(odd){
    background-color: #3f3f3f;
}

.item:hover{
    background-color: #181818;
}
.item:nth-child(odd):hover{
    background-color: #2f2f2f;
}

.item h3{
    font-size: 1.6rem;
}

.item-description, .item-price{
    font-size: 1.3rem;
}

.vegetarian::after{
    content: "(V)";
    margin-left: 12px;
    font-weight: 400;
    font-size: 1rem;
}

.header-container.food{
    margin-top: 50px;
    margin-bottom: 50px;
}

#first-food-header{
    padding-top: 100px;
    margin-bottom: 50px;
}


/* my order page */

.mobile-nav-bar#nav-bar-with-basket{
    margin-top: 60px;
}

.my-order-section{
    background-color: #fff;
    margin-top: 75px;
}

#filter-menu.light{
    background-color: #fff;
    width: 55%;
    color: #444;
    margin-left: 0;
    border-radius: 0;
}

.my-order-page-wrapper{
    display: flex;
    justify-content: space-between;
}

.my-order-menu{
    flex-basis: 55%;
    margin-top: 54px;
    border-top: 2px solid var(--secondary-accent-color);
    border-right: 2px solid var(--secondary-accent-color);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0, 0.3);
}

.header-container.left{
    margin-left: 0;
    margin-right: 0;
    height: fit-content;
}

.header.my-order{
    padding-left: 24px;
}

.header.my-order::before{
    background-color: #1f1f1f;
    width: 110%;
    left: 15%;
}

.order-item-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 48px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0, 0.3);
    gap: 10px;
}

.my-order-item{
    margin-bottom: 24px;
}

.main.my-order-item{
    color: #000;
}

.quantity-inputs, .quantity{
    display: flex;
    height: 30px;
    font-size: 20px;
}

.quantity-inputs{
    gap: 5px;
}

.quantity-inputs .quantity > button:focus, input:focus{
    outline: 2px solid #000 !important;
}

.quantity{
    z-index: 10;
    /* border: 1.25px solid #000; */
    border-radius: 10px;
    box-shadow: 0px 0px 7.5px 2px rgba(0,0,0, 0.4);
}

.quantity .item-quantity::placeholder{
    color: #555;
}

.quantity-inputs button, input{
    border: none;
}

.quantity-inputs button{
    width: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.quantity .decrement{
    border-radius: 10px 0px 0px 10px;
}

.quantity .increment{
    border-radius: 0px 10px 10px 0px;
}

.quantity-inputs .quantity > input{
    background-color: #aaa;
    width: 40px;
    text-indent: 2.5px;
    appearance: textfield;
    -moz-appearance: textfield;
    font-weight: 400;
    font-size: 20px;
}

.quantity-inputs .quanity > input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
}

.item-quantity{
    text-align: center;
    padding-right: 5px;
    border-radius: 0px;
}

.reset-quantity{
    width: 30px !important;
    height: 30px;
    border: 1.25px solid #000 !important;
    border-radius: 7.5px;
    box-shadow: 0px 0px 7.5px 1px rgba(0,0,0, 0.4) ;
    background-color: var(--secondary-accent-color) !important;
    color: #fff !important;
}

.my-order-basket{
    flex-basis: 45%;
    position:fixed;
    z-index: 35;
    width: 40%;
    height: 50%;
    top: 75px;
    margin-top: 62px;
    margin-left: 57.5%;
    overflow-y: scroll;


    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.2);
}

.my-order-basket .info-container{
    display: flex;
    /* position: fixed;
    z-index: 35; */
    /* background-color: #fff; */
    width: 90%;
    justify-content:space-around;
    align-items: center;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
}

.my-order-basket .info-container #basket-white{
    display: none;
}

/* contact page */

.contact-page-section{
    width: 80%;
    margin: auto;
}

.content-wrapper.light{
    background-color: #fff;
}

#contact-page-header{
    font-size: clamp(2rem, 10vw, 3rem);
}

.contact-description{
    width: clamp(260px, 50vw, 700px);
    margin: 12px auto 32px auto;
    text-align: center;
    font-size: clamp(0.9rem, 2vw, 1.25rem);
}

.contact-wrapper{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-bottom: 32px;
}

.contact-header{
    font-size: clamp(1.8rem, 5vw, 2.2rem);
}


.contact-wrapper .contact-form{
    flex-basis: 45%;
}

.contact-input{
    background-color: #fff;
    color: #000;
    font-size: 16px;
    width: 100%;
    margin-top: 16px;
    border: none;
    border: 2px solid var(--secondary-accent-color);
    border-radius: 5px;
    padding: 10px 15px 10px 5px;
    box-shadow: 0px 0px 7.5px 2px rgba(0,0,0, 0.3);
}

.contact-input:focus{
    outline: 1.2px solid var(--main-accent-color);
}

.contact-form textarea{
    height: 250px;
    resize: none;
}

.contact-form-button{
    width: 40%;
    background: linear-gradient( to right, var(--secondary-accent-color)0%, var(--main-accent-color) 100%);
    cursor: pointer;
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 1.05rem;
    font-weight: 500;
}

.contact-info{
    flex-basis: 35%;
    height: fit-content;
    padding-bottom: 24px;
    border: 1px solid var(--secondary-accent-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0 ,0.3);
    margin-top: 64px;
}

.opening-times, .contact-methods-container{
    text-align: center;
}

.opening-times h2{
    font-size: 1.6rem;
    margin-bottom: 16px;
}
.opening-times p{
    margin-top: 4px;
}

.seperate-opening{
    width: 80%;
    margin: 8px auto 8px auto;
    height: 2px;
    border-radius: 10px;
    background-color: var(--secondary-accent-color);
}

.contact-methods{
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-methods p{
    display: block;
}

.contact-methods a{
    color: #000;
    text-decoration: none;
}
.contact-methods p{
    margin-top: 4px;
    color: #000;
}


/* phone number styling (phone number becomes link on IOS/ safari) same with email */
a[href^="tel"], a[href^="mailto"]{
    color: #000;
    text-decoration: none;
}

.contact-methods img{
    width: 25px;
    height: 25px;
    margin-top: 12px;
}

.form-send-success{
    color: #3dc71a;
    font-size: 2rem;
    font-weight: 700;
}

/* responsiveness */

@media (max-width: 1366px) {
    .save-order-container{
        flex-basis: 30%;
    }
}

@media(max-width: 1024px){
    .hero-info{
        padding: 24px 0px 0px 60px;
        padding-left: clamp(20px, 3.5vw, 60px);
    }

    .save-my-order{
        width: 35%;
        padding: 10px 25px;
        text-align: center;
    }
    .delivery-description-wrapper{
        width: 200px;
    }
    .delivery-info-wrapper{
        width: 300px;
    }
    .delivery-info{
        width: 100%;
    }
    .delivery-description-wrapper img, .delivery-info-wrapper img{
        width: 100%;
    }
    .delivery-description-wrapper p{
        width: 25%;
    }

    /* menu page */

    #filter-menu{
        width: calc(60% - 5px);
        margin-left: 15%;
    }

    /* my order page */
    .my-order-section-wrapper p{
        width: 40%;
    }

    .my-order-basket .item-container > .my-order-item h3{
        font-size: 0.8rem;
    }

    .my-order-basket .item-container .my-order-item .order-item-wrapper{
        padding: 10px 24px;
    }

    .my-order-basket .item-container .my-order-item .quantity-inputs > .quantity, .reset-quantity{
        height: 30px;
    }
    .my-order-basket .item-container .my-order-item .quantity-inputs > .quantity button{
        width: 30px;
    }
    /* contact page */

    .contact-form{
        flex-basis: 55% !important;
    }
    .contact-info{
        flex-basis: 40%;
    }
}

@media(min-width: 768px){
    .nav-list-links{
        display: flex;
    }
}

@media(max-width: 768px){
    .nav-list-links{
        display: none;
    }
    .hamburger-button, .mobile-nav-bar{
        display: block;
    }
    .slogan,.circles{
        display: none;
    }
    .conveyor{
        height: 150px;
    }
    .slide .dish{
        width: 100px;
        height: 100px;
    }

    .slide .dish .dish-name{
        width: 150%;
        transform: translateX(-20%);
        font-size: 1rem;
        top: -40px;
    }
    .slide .dish img{
        width: 90px;
        height: 90px;
    }

    .my-order-wrapper{
        flex-direction: column;
    }
    .my-order-dinner{
        margin-top: 75px;
        align-content: flex-end;
    }
    .dinner-japanese{
        opacity: 0.5;
    }

    .deliver-section{
        width: 90%;
    }

    .deliver-wrapper{
        display: block;
    }
    .delivery-description-wrapper, .delivery-info-wrapper{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .delivery-description-wrapper img{
        transform: translateX(-45%);
    }
    .delivery-info-wrapper{
        margin-top: 75px;
    }
    .delivery-description-wrapper img{
        width: 200px;
    }
    
    .delivery-description p{
        width: 30%;
        font-size: clamp(16px, 4vw, 20px);
    }
    .review-container{
        width: 65%;
        margin: auto;
        display: block;
    }
    .review{
        min-height: 200px;
        margin-top: 60px;
    }
    .review-japanese{
        top: 0px;
        left: -60px;
    }

    /* menu page */

    #filter-menu{
        width: calc(90% - 5px);
        margin-left: 0;
        border-radius: 0px;
    }

    /* myorder page */

    #filter-menu.light{
        margin-top: 60px;
        width: 100%;
    }
    
    .my-order#first-header{
        margin-top: 75px;
    }

    .my-order-menu{
        flex-basis: 100%;
    }

    .my-order-basket{
        border: 2px solid var(--secondary-accent-color);
        width: 100%;
        margin: 0;
        background-color: #1f1f1f;
        color: #fff;
        border-radius: 0;
        height: 60px;
        top: 75px;
        overflow-y: auto;
    }

    .my-order-basket .header-container{
        display: none;
    }

    .my-order-basket .item-container{
        display: none;
    }

    .my-order-basket .info-container #basket-black{
        display: none;
    }

    .my-order-basket .info-container #basket-white{
        display: block;
    }

    /* contact page */

    .contact-wrapper{
        display: block;
        width: 80%;
    }
}

@media(max-width: 601px){
    .slide .dish{
        width: 80px;
        height: 80px;
    }

    .slide .dish .dish-name{
        font-size: 0.8rem;
    }
    .slide .dish img{
        width: 70px;
        height: 70px;
    }
    .carousel-button{
        font-size: 1.4rem;
        top: calc(50% - 12px);
    }
    .contact-section p{
        width: 70%;
    }
    .footer-wrapper{
        display: block;
    }
    .footer-links{
        justify-content: space-evenly;
        gap: 24px;
    }
    .footer-subscribe{
        margin-top: 12px;
        width: 100%;
    }

    /* myorder page */
    .my-order-section-wrapper p{
        width: 65%;
        font-size: 1rem;
    }
    .save-orders-wrapper{
        width: 80%;
    }

    .my-order-menu .my-order-item h3{
        font-size: 1rem;
    }

    .my-order-menu .my-order-item .order-item-wrapper{
        padding: 10px 24px;
    }

    .my-order-menu .my-order-item .quantity-inputs > .quantity, .reset-quantity{
        height: 30px;
    }
    .my-order-menu .my-order-item .quantity-inputs > .quantity button{
        width: 30px;
    }    

    /* contact page */

    .contact-wrapper{
        width: 90%;
    }
}

@media(max-width: 414px){
    .conveyor{
        height: 120px;
    }
    .slide .dish{
        width: 60px;
        height: 60px;
    }

    .slide .dish .dish-name{
        font-size: 0.6rem;
    }
    .slide .dish img{
        width: 50px;
        height: 50px;
    }
    .carousel-button{
        padding: 8px 24px 8px 8px;
        font-size: 1.25rem;
        top: calc(50%);
    }
    .carousel-button.prev{
        left: -24px;
    }
    .carousel-button.next{
        right: -24px;
    }

    .my-order-dinner{
        align-content: flex-start;
    }
    .save-my-order{
        width: 42.5%;
    }
    .deliver-wrapper{
        height: 550px;
    }
    .delivery-description-wrapper img{
        width: 150px;
    }
    .review-container{
        width: 80%;
    }
    .contact-japanese{
        opacity: 0.25;
        z-index: -1;
    }
    .footer-links{
        justify-content: space-between;
    }
    .footer-trademark p{
        font-size: 0.75rem;
    }
    .footer-trademark img{
        width: 60px;
        margin-top: -10px;
    }

    /* menu page */
    .menu-section{
        width: 100%;
        font-size: 1.1rem;
    }
    #filter-menu{
        width: calc(100% - 5px);
    }
    .center-header{
        font-size: 2.2rem;
    }
    .item h3{
        font-size: 1.4rem;
    }
    .item-description, .item-price{
        font-size: 1rem
    }
    .item-price{
        margin-top: 8px;
    }

    /* myorder page */
    .my-order-section-wrapper p{
        width: 75%;
    }
    .save-orders-wrapper{
        width: 90%;
        min-width: 280px;
    }
    .save-order-container h2{
        font-size: 1.5rem;
    }

    /* contact page */

    .contact-page-section{
        width: 90%;
    }
    .contact-form-button{
        width: 50%;
    }
}

@media(max-width: 375px){
    .my-order{
        width: 90%;
    }
    .my-order-info p{
        width: 260px;
        font-size: 0.9rem;
    }
    .my-order .save-my-order{
        width: 50%;
    }
    .my-order-dinner img{
        width: 265px;
    }
    .review-container{
        width: 90%;
    }
    .contact-section p{
        width: 95%;
    }
    .deliver-section{
        width: 90%;
    }
    .delivery-description{
        width: 100%;
        left: 0;
        transform: translateX(0%);
    }
    .delivery-description h2{
        font-size: 2.6rem;
    }
    .delivery-description p{
        width: 100%;
    }

    /* myorder page */

    .my-order-menu .my-order-item h3{
        font-size: 1rem;
    }

    .my-order-menu .my-order-item .order-item-wrapper{
        padding: 10px 4px;
    }

    .my-order-menu .my-order-item .quantity-inputs > .quantity, .reset-quantity{
        height: 25px;
    }
    .my-order-menu .my-order-item .quantity-inputs > .quantity button{
        width: 25px;
    } 

    /* contact page */
    .contact-form textarea{
        height: 200px;
    }
}


