*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, li, button, h1, h2, a{
    position: relative;
    z-index: 2; 
    /* set zindex above for background elements with z-index: 0 */
}

:root{
    --background-color: #fcfcff;
    --accent-background-color: 35, 37, 51; /* In rgb format to change opacity #232533 */
    --primary-accent-color: 24, 123, 205; /* In rgb format to change opacity #187BCD*/ 
    --secondary-accent-color: 76, 171, 243; /* In rgb format to change opacity #4CABF3 */
    --offset-black-text: #3e3e3e;
    --offset-white-text: #d4d4d4;

    --invert-text: #3e3e3e;
}

body{
    background-color: var(--background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 2560px;
    margin: 0px auto 0px auto;
}

#loader{
    z-index: 999;
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

/* GLOBAL STYLING */

p.description, li.description{
    font-size: clamp(16px, 1.2vw, 20px) !important;
}

.content-wrapper{
    padding-top: 85px;
}

.center{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.larger-header-text{
    font-size: clamp(1.8rem, 2.4vw, 2.5rem);
}

.large-header-text{
    font-size: clamp(1.6rem, 2.1vw, 2.3rem);
}

.medium-header-text{
    font-size: clamp(1.25rem, 1.6vw, 1.5rem);
}

.center-header{
    text-align: center;
}

.semi-bold-text{
    font-weight: 500;
}

.white-header{
    color: #fff;
}

.light-text{
    font-weight: 300;
}

.black-text{
    color: var(--offset-black-text);
}
.bold-black-text{
    color: #000;
    font-weight: 700;
}
.white-text{
    color: var(--offset-white-text);
}
.bold-white-text{
    color: #fff;
    font-weight: 700;
}

.accent-text{
    color: rgb(var(--primary-accent-color));
}

.link-button{
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin-top: 32px;
    transition: 0.15s ease-in-out;
    background-color: rgb(var(--accent-background-color));
    border: 1px solid rgb(var(--accent-background-color));
}

.link-button.primary-accent{
    border-color: rgb(var(--primary-accent-color));
    background-color: rgb(var(--primary-accent-color));
}
.link-button.primary-accent:hover{
    background-color: rgb(var(--secondary-accent-color));
}
.link-button.secondary-accent{
    border-color: rgb(var(--secondary-accent-color));
    background-color: rgb(var(--secondary-accent-color));
}
.link-button.secondary-accent:hover{
    background-color: rgb(var(--primary-accent-color));
}

/* nav-bar */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    background-color: transparent;
    position: fixed;
    width: 100vw;
    max-width: 2560px;
    height: 85px;
    transition: 0.3s ease-in-out;
}
.nav.sticky{
    background-color: rgb(var(--accent-background-color));
    height: 65px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15), 
    0 16px 16px rgba(0,0,0,0.15), 
    0 32px 32px rgba(0,0,0,0.15);
}


.nav-bar-container{
    width: 40vw;
    margin: 0px auto 0px auto;
    padding: 12px 64px;
    border-radius: 5px;
    /* background-color: #fff; */
    background-color: rgb(var(--accent-background-color));
    box-shadow: 0 0px 2px rgba(0,0,0,0.25), 
                0 0px 4px rgba(0,0,0,0.25), 
                0 0px 8px rgba(0,0,0,0.25), 
                0 0px 16px rgba(0,0,0,0.25),
                0 0px 32px rgba(0,0,0,0.25), 
                0 0px 64px rgba(0,0,0,0.25);
    transition: 0.2s ease-in-out;
}
.nav-bar-container.sticky{
    background-color: transparent;
    box-shadow: none;
}

.nav-bar-container ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-bar-container .nav-link, .mobile-nav-bar .nav-link{
    /* color: #000; */
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.nav-bar-container .nav-link::before{
    content: "";
    position: absolute;
    width: 0%;
    left: -20%;
    height: 2px;
    bottom: 0;
    background-color: var(--offset-white-text);
    transition: 0.2s ease-in-out;
}

.nav-bar-container .nav-link:hover::before, .nav-bar-container .nav-link:focus::before{
    content: "";
    position: absolute;
    width: 120%;
    transform: translateX(10%);
    height: 2px;
    bottom: 0;
    background-color: var(--offset-white-text);
}

.nav-mail.mail{
    /* background-color: #fff; */
    background-color: rgb(var(--accent-background-color));
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    left: 90%;
    z-index: 10;
    box-shadow: 0 0px 2px rgba(0,0,0,0.25), 
    0 0px 4px rgba(0,0,0,0.25), 
    0 0px 8px rgba(0,0,0,0.25), 
    0 0px 16px rgba(0,0,0,0.25),
    0 0px 32px rgba(0,0,0,0.25), 
    0 0px 64px rgba(0,0,0,0.25);
    transition: 0.3s ease-in-out;
}
.nav-mail.sticky{
    background-color: transparent;
    box-shadow: none;
}
            
.mail img{
    width: 30px;
    filter: invert(1);
}

/* mobile var bar */

.mobile-nav-bar{
    display: none;
    width: 80%;
    max-width: 1280px;
    left: 100vw;
    height: 100vh;
    font-size: 1.1rem;
    position: fixed;
    top: 65px;
    background-color: rgba(var(--accent-background-color), 0.8);
    text-align: center;
    transition: 0.15s ease-in-out;
}

.mobile-nav-bar ul{
    text-decoration: none;
    list-style-type: none;
}

.mobile-nav-bar ul li{
    margin-top: 24px;
}

.mobile-nav-bar .nav-link{
    font-size: 1.1rem;
    color: #fff;
}

.seperate-links{
    margin: 24px auto;
    width: 80%;
    height: 2px;
    background-color: rgb(var(--accent-background-color));
}

.hamburger-container{
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: calc(65px / 2 - (28px / 2));
    right: 50px;
}

.hamburger{
    display: none;
    width: 35px;
    height: 4px;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #fff;
    transition: 0.15s ease-in-out;
}
.hamburger:nth-child(3){
    margin: 0;
}

.hamburger-container:hover, .hamburger-container:focus{
    cursor: pointer;
    .hamburger:nth-child(2){
        transform: translateX(calc( 35px / 2));
        background-color: rgb(var(--secondary-accent-color));
    }
}

.hamburger-container.active{
    .hamburger{
        background-color: rgb(var(--secondary-accent-color));
    }
    .hamburger:nth-child(2){
        transform: translateX(35px);
        opacity: 0;
    }
    .hamburger:nth-child(1){
        rotate: -45deg;
        transform: translate(-7px, 10px);
    }
    .hamburger:nth-child(3){
        rotate: 45deg;
        transform: translate(-7px, -9px);
    }
}

.mobile-nav-bar.active{
    left: 20vw;
}

.nav, .nav-bar-container, .mobile-nav-bar, .hamburger-container{
    z-index: 10;
}

/* animations  */
/* checks if user has animation not turned off */
@media(min-width: 400px) and (prefers-reduced-motion: no-preference){ 
    .animate-on-scroll{
        opacity: 0;
    }
    
    @keyframes blur{
        0%{
            opacity: 0;
            filter: blur(12px);
            transform: translate(0px, -20px);
        }
        /* 75%{
            filter: blur(5px);
        } */
        100%{
            opacity: 1;
            filter: blur(0px);
            transform: translate(0px, 0px);
        }
    }
    @keyframes fadeIn {
        0%{
            opacity: 0;
            filter: blur(12px);
        }
        100%{
            opacity: 1;
            filter: blur(0px);
        }
    }
    
    .animate-on-scroll.blur-down.animate-blur-down{
        opacity: 0;
        animation: blur 0.75s ease-in-out forwards;
    }
    .animate-on-scroll.fade-in.animate-fade-in{
        opacity: 0;
        animation: fadeIn 0.75s ease-in-out forwards;
    }
    .animate-on-scroll.fade-down.animate-fade-down{
        opacity: 0;
        animation: blur 0.75s ease-in-out forwards;
    }
}

/* HERO SECTION */
.hero-section{
    padding: 96px 10% 0px 10%;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.hero, .hero-description{
    flex-basis: 25%;
}

.hero, .hero-description h2{
    width: 105%;
}

.hero{
    order: 1;
}
.hero-description{
    order: 3;
}

.hero-image{
    height: fit-content;
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
    object-position: center;
    order: 2;
    justify-self: center;
    background-color: rgba(var(--accent-background-color), 1);
    border-radius: 50px 50px 0px 0px;
    border: 3px solid rgb(var(--secondary-accent-color));
    border-bottom: none;
    /* background-color: transparent; */
}
.hero-image img{
    height: 100%;
    object-fit: cover;
}

.hero-description p{
 width: 110%;
 margin-top: 8px;
}

/* MY WORK SECTION */

.my-work-section{
    padding: 96px 10% 96px 10%;
    background-color: rgb(var(--accent-background-color));
}

.my-work-container{
    display: flex;
    justify-content: space-between;
}

.my-work-container .overview{
    position: relative;
    flex-basis: 25%;
}

.my-work-circle{
    position: absolute;
    border-radius: 50%;
    background-color: rgba(var(--primary-accent-color), 0.5);
}
.my-work-circle.one{
    width: clamp(175px, 20vw, 350px);
    height: clamp(175px, 20vw, 350px);
    bottom: 50%;
    transform: translateY(50%);
    left: -25%;
}
.my-work-circle.two{
    width: 50%;
    height: 50%;
    bottom: calc(50% + 25px);
    left: 100%;
    transform: translateX(-75%);
}

.my-work-container p{
    width: 110%;
    margin-top: 8px;
}

.my-work-container .carousel{
    flex-basis: 50%;
    width: 50%;
    height: clamp(300px, 35vw, 600px);
    position: relative;
}

.carousel .carousel-slides{
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel .carousel-slides ul{
    list-style: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

.carousel .carousel-slides .slide{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 16px;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.carousel .carousel-slides .slide[data-slide-active]{
    z-index: 2;
    transition-delay: -0.1s;
    opacity: 1;
}

.slide img{
    object-fit: cover;
    border: 2px solid rgb(var(--primary-accent-color));
}

.slide #sushi-contact-small{
    height: 80%;
    align-self: center;
}

.carousel-buttons-container{
    display: flex;
    width: 100%;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.carousel .carousel-buttons-container .carousel-button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.carousel .carousel-buttons-container .slide-index{
    display: inline;
}
.carousel-buttons-container .slide-index-container{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.carousel-buttons-container .slide-index{
    cursor: pointer;
    width: 36px;
    height: 16px;
    background-color: transparent;
    border: 2px solid rgb(var(--primary-accent-color));
    transition: 0.5s ease-in-out;
}

.carousel-buttons-container .slide-index.active{
    background-color: rgb(var(--primary-accent-color));
}

/* responsive section */

.responsive-section{
    padding: 96px 10% 96px 10%;
}

.responsive-container{
    display: flex;
    justify-content: space-between;
}

.responsive-container .responsive-description{
    flex-basis: 45%;
}

.responsive-container .responsive-description p{
    width: 75%;
    margin-top: 16px;
}

.responsive-container .responsive-demonstration{
    flex-basis: 50%;
    min-width: 280px;
    align-self: center;
}

.responsive-container .responsive-demonstration img{
    object-fit: cover;
    width: 100%;
}

/* why me section */

.why-me-section{
    position: relative;
    padding: 96px 10% 96px 10%;
}
.why-me-header{
    width: 40%;
    margin-left: auto;
    margin-bottom: 16px;
}
.why-me-container{
    display: flex;
    margin-left: auto;
    justify-content: space-between;
}
.why-me-description{
    flex-basis: 55%;
}
.why-me-points{
    flex-basis: 40%;
}
.why-me-points{
    align-items: flex-end;
}
.why-me-points li{
    margin-bottom: 16px;
}

.why-me-section img{
    position: absolute;
    top: 25%;
    left: 10%;
    filter: opacity(0.5);
    z-index: 1;
    width: clamp(200px, 25vw, 400px);
    height: clamp(200px, 25vw, 400px);
}


/* what I do section */

.divide-section{
    height: 2px;
    width: 100%;
    background-color: rgb(var(--secondary-accent-color));
}

.what-i-do-stages,.what-i-do-communication{
    padding: 96px 0;
}

.what-i-do-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.what-i-do-stages{
    flex-basis: 40%;
}

.what-i-do-stages .stage-header{
    margin-top: 36px;
}

.stage .stage-description{
    margin-top: 8px;
    width: 80%;
}

.what-i-do-communication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 35%;
    background-color: rgb(var(--accent-background-color));
}

.what-i-do-communication .communication-header{
    font-size: clamp(1.4rem, 1.65vw, 1.8rem);
}

.what-i-do-communication .communication-description-container{
    position: relative;
    width: calc(50% + 36px);
    min-width: 280px;
    max-width: 350px;
    height: fit-content;
    min-height: 220px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    background-color: rgba(var(--primary-accent-color), 0.5);
}

.communication-description-container .rectangle{
    position: absolute;
    width: 40%;
    height: 40%;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    background-color: rgba(var(--primary-accent-color), 0.5);
}

.what-i-do-communication .communication-description-container p{
    margin-top: 8px;
}

/* contact section */

.contact-section{
    padding: 48px 10%;
}

.contact-section p{
    text-align: center;
    width: 60%;
    margin: 8px auto 8px auto;
}

.contact-form{
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.contact-form .input{
    position: relative;
    width: 100%;
    font-size: 16px;
    padding: 16px 8px;
    text-indent: 4px;
    margin-top: 8px;
    border: none;
    outline: 2px solid #000;
    border-radius: 0px;
    background-color: rgb(var(--accent-background-color));
    color: #fff;
    caret-color: rgb(var(--secondary-accent-color));
}

/* changes autofilled inputs default colours */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus,
textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus,
select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    outline: 2px solid rgb(var(--secondary-accent-color));
    -webkit-text-fill-color: #F1F1F1;
    -webkit-box-shadow: 0 0 0px 1000px #484869 inset;
}
.contact-form .input:hover, .contact-form .input:focus{
    outline: 2px solid rgb(var(--secondary-accent-color)) !important;
}

.contact-form .input::placeholder{
    /* color: #fff; */
    color: var(--offset-white-text);
    opacity: 1;
}

.contact-form textarea{
    resize: none;
    font-size: 16px;
    height: 250px;
}

.submit-email-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit-email-container #submit-button{
    cursor: pointer;
    width: 40% ;
    min-width: 180px;
}

/* footer */

.footer{
    background-color: rgb(var(--accent-background-color));
    padding: 32px 10% 32px 10%;
    position: relative;
    overflow-y: hidden;
}

.footer-container{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.footer-container .nav-links a, .footer-container .communication-links a{
    display: block;
    width: fit-content;
    color: #fff;
    text-decoration: none;
    margin-top: 8px;
}

.communication-links .emailto{
    margin-top: 40px;
    color: #fff;
    opacity: 0;
    transition: 0.05s ease-in;
    cursor: default;
}
.communication-links #email-link:hover + .emailto{
    opacity: 0.9;
}

.footer-circle, .footer-circle-overlap{
    position: absolute;
    background-color: rgba(var(--primary-accent-color), 0.5);
    border-radius: 50%;
}

.footer-circle{
    width: clamp(100px, 10vw, 125px);
    height: clamp(100px, 10vw, 125px);
    bottom: calc(-20%);
    left: 100px;
}

.footer-circle-overlap{
    position: absolute;
    left: 100%;
    top: 0;
    transform: translate(-40%, -30%);
    width: 75%;
    height: 75%;
}

/* my process page */

.my-process-header .description{
    width: 60%;
    margin: 8px auto 8px auto;
    text-align: center;
}
.line-break{
    display: none;
}
.design-section, .development-section, .implementation-section{
    margin-top: 48px;
    padding: 144px 10% 96px 10%;
    position: relative;
    background-color: rgb(var(--accent-background-color));
}

.design-container, .development-container, .implementation-container{
    display: flex;
    justify-content: space-between;
}

.design-description, .development-description, .implementation-description, .points{
    flex-basis: 45%;
}
.points{
    display: flex;
    align-items: center;
}
.points .point{
    margin-top: 8px;
}

.process.description{
    margin-top: 16px;
}

.design-section img, .implementation-section img{
    position: absolute;
    top: calc(10% + 32px);
    left: calc(10% + 32px);
    filter: opacity(0.5);
    z-index: 1;
    width: clamp(200px, 20vw, 275px);
    height: clamp(200px, 20vw, 275px);
}

.development-section, .implementation-section{
    margin-top: 0;
    background-color: var(--background-color);
}
.development-container{
    display: flex;
    flex-direction: row-reverse;
}

.my-process-circle, .my-process-circle .child-circle{
    position: absolute;
    background-color: rgba(var(--primary-accent-color), 0.45);
    border-radius: 50%;
}
.my-process-circle{
    bottom: 32px;
    right: 10%;
    width: clamp(200px, 20vw, 275px);
    height: clamp(200px, 20vw, 275px);
}
.my-process-circle .child-circle{
    width: 50%;
    height: 50%;
    right: 0;
    top: 0;
    transform: translate(20%, -20%);
}

.divide-section.my-process{
    margin: 32px 0px;
}

.link-button.center{
    display: block;
    width: 124px;
    text-align: center;
    margin: 8px auto 32px auto;
}

/* contact page */
.contact-section .description.left{
    text-align: left;
    margin: 8px 0px;
}

.contact-form-container .contact-form.left{
    margin: 0;
}
.circle-one{
    position: absolute;
    top: 200px;
    right: 20%;
    width: clamp(300px, 35vw, 500px);
    height: clamp(300px, 35vw, 500px);
    background: rgba(var(--secondary-accent-color), 0.75);
    border-radius: 50%;
    z-index: -1;
}
.circle-two{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 40%;
    transform: translate(10%, -10%);
    background: rgba(var(--secondary-accent-color), 0.75);
    border-radius: 50%;
}
/* media queries */

@media (max-width: 1366px){
    /* hero section */
    .hero-section{
        justify-content: space-evenly;
    }
    .hero-section .hero-image{
        flex-basis: 35%;
    }
    .hero-section .hero-description, .hero-section .hero{
        flex-basis: 30%;
    }
    .hero-description h2{
        width: 110%;
    }

    /* what I do section */
    .what-i-do-section .what-i-do-communication{
        flex-basis: 42.5%;
    }
}

@media (max-width: 1024px){
    .nav-bar-container{
        width: 60vw;
    }
    .hero-section, .my-work-section, .why-me-section, .responsive-section, .contact-section{
        padding-left: 5%;
        padding-right: 5%;
    }
    /* hero */
    .hero-section{
        padding-top: 48px;
    }
    .hero-image{
        margin-top: 48px;
    }
    .hero-section .hero-description{
        flex-basis: 30%;
    }
    .hero-description h2{
        width: 120%;
        max-width: 300px;
    }
    /* my work */
    .my-work-container .carousel{
        height: clamp(250px, 22.5vw, 600px);
    }
    /* what I do communication */

    .what-i-do-section .what-i-do-communication{
        flex-basis: 47.5%;
    }
    .what-i-do-communication .communication-description-container{
        margin: 0px;
        margin-left: 16px;
    }

    /* contact */
    .contact-form{
        width: 80%;
    }

    /* footer */
    .footer-container{
        width: 60%;
    }

    /* my process page */
    .my-process-header .description{
        width: 75%;
    }
}

@media (max-width: 768px){
    .content-wrapper{
        padding-top: 65px;
    }
    .hero-section, .my-work-section, .why-me-section, .responsive-section, .contact-section{
        padding-top: 48px;
    }
    .what-i-do-stages{
        padding: 32px 0px;
    }
    /* nav */
    .nav{
        height: 65px !important;
        background-color: rgb(var(--accent-background-color)) !important;
        box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
        0 2px 2px rgba(0,0,0,0.15), 
        0 4px 4px rgba(0,0,0,0.15), 
        0 8px 8px rgba(0,0,0,0.15), 
        0 16px 16px rgba(0,0,0,0.15), 
        0 32px 32px rgba(0,0,0,0.15);
    }
    .nav-bar-container{
        display: none;
    }
    .mobile-nav-bar, .hamburger{
        display: block;
    }
    .nav-mail.mail{
        left: 10%;
        background: transparent !important;
        box-shadow: none !important;
    }

    /* hero */
    .hero-section{
        padding-right: 2.5%;
    }
    .hero-container{
        display: block;
    }
    .hero-container .hero, .hero-container .hero-description{
        display: inline-block;
        width: 45%;
        height: fit-content;
    }
    .hero-container .hero-description{
        width: 50%;
        display: flex;
        flex-direction: column;
        float: right;
    }
    .hero-description h2, .hero-description .description{
        width: 100%;
    } 
    .hero-container .hero-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /* my work */
    .my-work-section{
        padding-top: 48px;
    }
    .my-work-container{
        display: block;
    }
    .my-work-container .overview{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .my-work-container .overview .description{
        margin: 8px auto 0px auto;
        width: 60%;
    }
    .my-work-container .overview .link-button{
        margin-top: 16px;
    }
    .my-work-container .carousel{
        margin: 32px auto 0px auto;
    }
    .my-work-circle.one{
        left: 45%;
        bottom: 0%;
    }

    /* responsive section */
    .responsive-container .responsive-description p{
        width: 85%;
    }

    /* why me section */
    .why-me-section{
        padding-left: 7.5%;
    }
    .why-me-container{
        display: block;
    }
    .why-me-header{
        width: 100%;
    }
    .why-me-points li:nth-child(1){
        margin-top: 32px;
    }
    .why-me-section img{
        position: absolute;
        top: 15%;
        left: 10%;
        filter: opacity(0.5);
        z-index: 1;
        width: clamp(200px, 25vw, 400px);
        height: clamp(200px, 25vw, 400px);
    }  

    /* what I do */
    .what-i-do-container .what-i-do-communication{
        flex-basis: 60%;
    }
    .what-i-do-communication .communication-description-container{
        margin-left: auto;
        margin-right: auto;
        transform: translateX(-6.75%);
    }
    .what-i-do-container .what-i-do-stages{
        margin-left: 16px;
    }

    /* my process page */
    
    .my-process-header{
        margin-top: 36px;
    }
    .line-break{
        display: block;
        margin-top: 16px;
    }
    .my-process-header .description{
        width: 80%;
    }
    .design-section, .development-section, .implementation-section{
        padding: 48px 10%;
    }
    .design-container, .development-container, .implementation-container{
        display: block;
    }
    .design-description, .development-description, .implementation-description{
        margin-bottom: 48px;
    }
    .my-process.link-button{
        margin-top: 48px;
    }
}
@media(max-width: 601px){
    /* hero section */
    .hero-section{
        padding-top: 32px;
    }
    .hero-container .hero-description, .hero-container .hero{
        display: block;
        width: 100%;
        float: none;
        margin: 16px auto 0px auto;
        padding-bottom: 16px;
        text-align: left;
    }
    .hero-container .hero{
        margin-bottom: 0px;
    }
    .hero-container .hero .link-button{
        margin-top: 8px;
    }
    .hero-container .hero-description{  
        width: 90%;
        margin-left: 0px;
    }
    .hero-section, .hero-container{
        position: relative;
        height: 100%;
    }
    .hero-container .hero-image{
        position: absolute;
        border-radius: 100%;
        margin: 0;
        top: 0%;
        left: calc(75% - (300px / 2));
        z-index: -1;
        width: 240px;
        height: 240px;
    }
    /* my work container */
    .my-work-container .overview .description{
        width: 80%;
    }
    /* responsive section */
    .responsive-section, .what-i-do-stages{
        padding-top: 48px;
    }
    .responsive-container{
        display: block;
    }
    .responsive-container .responsive-description{
        text-align: center;
    }
    .responsive-container .responsive-description p{
        margin-left: auto;
        margin-right: auto;
    }
    .responsive-container .responsive-demonstration{
        width: 60%;
        margin: 32px auto 0px auto;
    }

    /* what I do */
    .what-i-do-container{
        display: block;
    }
    .what-i-do-stages{
        text-align: center;
    }
    .what-i-do-stages h2{
        width: 100%;
    }
    .what-i-do-stages .stage p{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .what-i-do-communication{
        padding: 80px 0px 48px 0px;
    }

    /* contact-section */
    .contact-form{
        width: 90%;
    }
    .contact-section .description{
        width: 80%;
    }
    /* footer */
    .footer-container{
        width: 80%;
    }

    /* my process page */
    .my-process-header .description{
        text-align: left;
    }
    .design-section, .development-section, .implementation-section{
        padding: 48px 7.5%;
    }
}

@media(max-width: 414px){
    /* hero */
    .hero-image{
        max-height: 200px;
        max-width: 200px;
        left: calc(75% - (200px / 2) - 20px) !important;
    }
    /* my work */
    .my-work-container .overview{
        width: 100%;
    }
    .my-work-container .overview .description{
        width: 90%;
    }
    .my-work-circle.one{
        left: 30%;
    }
    /* contact section */
    .contact-section{
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    .contact-section .description{
        width: 90%;
    }
    .contact-form {
        width: 100%;
    }
    /* footer */
    .footer{
        padding: 32px 5%;
    }

    /* my process page */

    .my-process-header .description{
        width: 90%;
    }
    .my-process-header .line-break{
        margin-top: 32px;
    }

    /* contact page */
    .contact-section .larger-header-text.left{
        text-align: center;
    }
    .contact-section .description.left{
        text-align: center;
        margin: 8px auto;
    }
    
    .contact-form-container .contact-form.left{
        margin: 0px auto;
    }
}

@media(max-width: 375px){
    /* hero */
    .hero-image{
        max-height: 150px;
        max-width: 150px;
        top: 24px !important;
        left: calc(75% - (150px / 2) ) !important;
    }
    /* my work */
    .my-work-container .carousel{
        height: 200px;
    }

    /* what i do */
    .communication-description-container .rectangle{
        transform: translate(20%, -20%);    
    }
    .what-i-do-communication .communication-description-container{
        transform: translateX(-5%);
    }
    /* footer */
    .footer-container{
        width: 100%;
    }
    .communication-links{
        width: fit-content;
    }
}